*{
    font-family: arial;
}

                                                    /* Tous le contenu */


header{
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    background: black/* transparent */;
    position: fixed;
    margin: 0;
    padding: 0;
    z-index: 9;
    top: -5px;
    left: 0px;
}
                                                    /* LOGO */
.logo{
    position: absolute;
    display: flex;
    padding: 10px 30px;
    font-weight: 600;
}
.logo .orange{
    color: orangered;
}
.logo .blanc{
    color: white;
}

                                                    /* MENU */
                                                    /* MENU Onglets accueil et autres */
.menu{
    position: relative;
    display: flex;
    padding: 20px 0px 80px 55%;
    word-spacing: 30px;
    font-size: 16px;
    font-weight: 600;
}
                                                    /* Boutton du menu et son hover plus le ion-icon */
.menu .btn-menu{
    position: relative;
    display: flex;
    left: 10px;
    color: orangered;
    word-spacing: normal;
    width: 155px;
    height: 40px;
    background: transparent;
    align-items: center;
    top: 0px;
    border: 1px solid orangered;
    border-radius: 4px;
    justify-content: center;
    transition: .5s ease-in-out;
    cursor: pointer;
}
                                                    /* button hover */
.menu .btn-menu:hover{
    background-color: orangered;
    color: white;
}
                                                    /* Alignement du menu */
.menu ul li{
    position: relative;
    display: inline-block;
}
                                                    /* modification du contenue Menu; hover */
.menu ul li a{
    text-decoration: none;
    position: relative;
    color: white;
    transition: .5s ease-in-out;
}
.menu .about{
    color: orangered;
}
.menu ul li a:hover{
    color: orangered;
}

.elements{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    top: 80px;
    background: white;
    z-index: -10;
}
/* .elements .gauche img{
    width: 60%;
    height: auto;
} */
                                                    /* image de la partie gauche */
.elements .gauche .grand-img{
    position: relative;
    display: flex;
    width: 100%;
    height: 457px;
}
.elements .gauche .petit-img{
    position: absolute;
    display: flex;
    width: 150px;
    height: 105px;
    top: -60px;
    left: 400px;
    border: 7px solid white;
}
                                                    /* partie gauche */
.elements .gauche{
    position: relative;
    display: flex;
    width: 60%;
    margin: 60px;
    height: auto;
    float: left;
    background: gray;
}
                                                    /* partie droite */
.elements .droite{
    position: relative;
    display: flex;
    width: 80%;
    height: auto;
    float: right;
    /* background: #ffff; */
    background: #fff;
}
.droite button{
    position: absolute;
    display: flex;
    width: 75px;
    height: 29px;
    top: 40px;
    color: orange;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 15px;
    background: rgb(248, 238, 220);
}
.droite h1{
    position: absolute;
    display: flex;
    text-transform: capitalize;
    top: 100px;
    color: black;
    display: inline;
    font-size: 38px;
}
.droite p{
    position: absolute;
    display: flex;
    /* top: 250px;
    left: 15px; */
    margin: 250px 0 0 15px;
    width: 550px;
    height: 80px;
    /* border-radius: 10px;
    background: gray;
    border-bottom: 5px solid orangered; */
    z-index: 5;
    align-items: center;
    justify-content: center;
}
.droite a{
    position: absolute;
    display: flex;
    text-decoration: none;
    color: orangered;
    margin: 85px 410px 0 0;
    justify-content: center;
    align-items: center;
}
.droite div{
    position: absolute;
    width: 550px;
    top: 250px;
    height: 120px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: rgb(218, 218, 218);
    border-bottom: 5px solid orangered;
    z-index: 3;
}
.droite .bas{
    position: absolute;
    display: flex;
    margin: 400px 0 0 0;
    color: rgb(150, 150, 150);
}
                                                    /* Les bouttons de la deuxieme page a droite */
.drt{
    gap: 45px;
}
.drt .btn-gauche{
    position: absolute;
    display: flex;
    width: 130px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 8px;
    background-color: orangered;
    color: white;
    align-items: center;
    justify-content: center;
    top: 225px;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
}
.drt .btn-gauche ion-icon{
    position: relative;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: white;
    color: orangered;
    left: 5px;
}
.drt .btn-gauche:hover{
    color: orangered;
    background-color: white;
}
.drt .btn-droite{
    position: absolute;
    display: flex;
    width: 130px;
    height: 40px;
    border: 1px solid orangered;
    border-radius: 8px;
    background-color: white;
    color: orangered;
    align-items: center;
    justify-content: center;
    top: 225px;
    left: 170px;
    cursor: pointer;
    font-weight: 600;
    transition: .5s;
}
.drt .btn-droite ion-icon{
    position: relative;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    left: 5px;
}
.drt .btn-droite:hover{
    color: white;
    background-color: orangered;
}

                                                /* PARTI II */
.deux-parti{
    position: relative;
    display: flex;
    width: 100%;
    z-index: -10;
}
.deux-parti .premier-vu{
    position: absolute;
    width: 100%;
    height: auto;
    width: 130px;
    height: 30px;
    left: 600px;
    top: 40px;
    border-radius: 15px;
    background-color: rgb(255, 200, 180);
}
.deux-parti .premier-vu p{
    position: absolute;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    top: 6px;
    width: 130px;
    height: 30px;
    color: rgb(252, 79, 16);
    text-align: center;
}
.deux-parti .en-tete{
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    top: 100px;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}
.deux-parti .en-tet{
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    top: 145px;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}





.pied{
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    background-color: #141414;
    top: 200px;
    /* z-index: -10; */
}
.part1{
    display: flex;
    position: relative;
    width: 19%;
    height: 100px;
    /* border: 2px solid black; */
    top: 60px;
    left: 70px;
}
.part1 .logo1{
    color: orangered;
    position: relative;
    top: 55px;
}
.part1 .logo2{
    color: #ffffff;
    position: relative;
    top: 55px;
}
.part1 .texts{
    position: absolute;
    display: flex;
    top: 110px;
    font-size: 20px;
    color: rgb(157, 157, 157);
}
.part1 .reseau{
    position: relative;
    display: flex;
    top: 245px;
    gap: 20px;
    left: -158px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(179, 179, 179);
}
.part1 .reseau .reseau1{
    width: 35px;
    height: 35px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 6px;
}
.part1 .reseau .reseau2{
    width: 35px;
    height: 35px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 6px;
}
.part1 .reseau .reseau3{
    width: 35px;
    height: 35px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 6px;
}
.part1 .reseau .reseau4{
    width: 35px;
    height: 35px;
    border: 2px solid rgb(179, 179, 179);
    border-radius: 6px;
}
.part1 .reseau .reseau1:hover{
    color: rgb(56, 56, 255);
    transform: scale(1.1);
    border-color: rgb(56, 56, 255);
}
.part1 .reseau .reseau2:hover{
    color: rgb(138, 138, 253);
    transform: scale(1.1);
    border-color: rgb(138, 138, 253);
}
.part1 .reseau .reseau3:hover{
    color: red;
    transform: scale(1.1);
    border-color: red;
}
.part1 .reseau .reseau4:hover{
    color: blue;
    transform: scale(1.1);
    border-color: blue;
}
.part2 .reso ion-icon{
    font-size: 30px;
    position: relative;
    display: flex;
    top: 90px;
}
.part2{
    display: flex;
    position: relative;
    width: 19%;
    height: 100px;
   /*  border: 2px solid black; */
    top: 60px;
    left: 130px;
    color: rgb(157, 157, 157);
}
.part2 .adresse{
    color: #ffffff;
    position: relative;
    display: flex;
    top: 45px;
    left: 8px;
}
.part2 .reso{
    display: flex;
    position: absolute;
}
.part2 .reso .icone1{
    position: relative;
    display: flex;
    top: 97px;
    left: 5px;
    font-size: 27px;
}
.part2 .reso .icone2{
    position: relative;
    display: flex;
    top: 148px;
    left: -20px;
    font-size: 27px;
}
.part2 .reso .icone3{
    position: relative;
    display: flex;
    top: 198px;
    left: -50px;
    font-size: 27px;
}
.part2 .reso .lieu{
    position: absolute;
    display: flex;
    top: 108px;
    left: 46px;
}
 .part2 .reso .contact{
    position: absolute;
    display: flex;
    top: 156px;
    left: 48px;
}
.part2 .reso .mail{
    position: relative;
    display: flex;
    top: 204px;
    left: -40px;
}
.part3{
    display: flex;
    position: relative;
    width: 19%;
    height: 300px;
    /* border: 2px solid black; */
    top: 60px;
    left: 190px;
    color:rgb(157, 157, 157);
}
.part4{
    display: flex;
    position: relative;
    width: 19%;
    height: 100px;
    /* border: 2px solid black; */
    top: 60px;
    left: 250px;
}
.part3 .ecrit{
    display: flex;
    position: absolute;
}
.part3 h2{
    position: relative;
    top: 45px;
    color: #fff;
}
.part3 .ecrit1{
    position: absolute;
    display: flex;
    width: 100px;
    top: 100px;
    cursor: pointer;
}
.part3 .ecrit1:hover{
    transform: scaleX(1.1);
}
.part3 .ecrit2{
    position: absolute;
    display: flex;
    width: 100px;
    top: 135px;
    cursor: pointer;
}
.part3 .ecrit2:hover{
    transform: scaleX(1.1);
}
.part3 .ecrit3{
    position: absolute;
    display: flex;
    width: 200px;
    top: 170px;
    cursor: pointer;
}
.part3 .ecrit3:hover{
    transform: scaleX(1.1);
}
.part3 .ecrit4{
    position: absolute;
    display: flex;
    width: 200px;
    top: 205px;
    cursor: pointer;
}
.part3 .ecrit4:hover{
    transform: scaleX(1.1);
}
.part3 .ecrit5{
    position: absolute;
    display: flex;
    width: 100px;
    top: 240px;
    cursor: pointer;
}
.part3 .ecrit5:hover{
    transform: scaleX(1.1);
}
.part4 h2{
    position: relative;
    top: 45px;
    color: #fff;
}
.part4 .par{
    position: absolute;
    display: flex;
    top: 90px;
    color: rgb(157, 157, 157);
}
.part4 input{
    position: absolute;
    display: flex;
    width: 253px;
    height: 50px;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 6px;
    top: 180px;
    font-size: 18px;
    background-color: #141414;
}
.part4 .btn{
    position: absolute;
    display: flex;
    top: 186px;
    width: 90px;
    height: 42px;
    background-color: orangered;
    left: 160px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: .4;
}
.part4 .btn:hover{
    transform: scale(1.1);
}
.copy{
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    border-top: 2px solid rgb(45, 45, 45);
    top: 424px;
}
.copy .copy-gauche{
    display: flex;
    position: absolute;
    top: 25px;
    font-weight: bold;
    color:#f8f8f8;
    margin-left: 70px;
}
.copy .copy-gauche span{
    display: flex;
    position: absolute;
    width: 150px;
    font-weight: 100;
    color: #b3b3b3;
    left: 100px;
}
.copy .copy-droite{
    display: flex;
    position: absolute;
    top: 25px;
    color: #b3b3b3;
    margin-left: 1020px;
}
.copy .copy-droite span{
    display: flex;
    position: absolute;
    width: 150px;
    font-weight: 100;
    font-weight: bold;
    color:#f8f8f8;
    left: 95px;
}
